<!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
  <!-- <div class="container-fluid"> -->
    <!-- <span class="navbar-brand">App | </span> -->
    <!-- <ul class="nav navbar-nav"> -->
      <!-- <li><a routerLink="/monster">Meet the Monsters</a></li> -->
      <!-- <li><a routerLink="/monster/edit">New Monster</a></li> -->
      <!-- <li><a routerLink="/chat">Chat Room</a></li> -->
      <!-- <li><a routerLink="/escapeTogether">Escape Together</a></li> -->
    <!-- </ul> -->
  <!-- </div> -->
<!-- </nav> -->

<section>
  <router-outlet></router-outlet>
</section>

